:root {
	--emp-mint: #56bcb8;
	--emp-navy: #21195d;
	--emp-blue: #130e35;
	--emp-dark: #1a1a1a;
	--emp-light: #ffffff;
	--emp-fog: #b1b1b1;

	--emp-sans: "Rubik", "Helvetica", "Calibri", sans-serif;
	--emp-mono: "Space Mono", "Courier New", "Courier", monospace;
}

.banner,
.banner-logo {
	display: flex;
	flex-direction: column;
	place-content: center;
	width: 75%;
	min-height: 50%;
	clip-path: polygon(0px 0px, 70% 0px, 100% 100%, 0px 100%, 0 0);
	padding: 8rem 4rem;
	background-color: var(--emp-dark);
}

.banner::before {
	content: "";
	position: absolute;
	top: 3.25rem;
	left: 2.5rem;
	display: block;
	width: 0.15rem;
	min-height: 10rem;
	background-color: var(--emp-mint);
}

.banner-logo {
	width: 50%;
	place-content: end;
	align-items: end;
	margin-inline-start: auto;
	padding: 0 1rem;
	clip-path: polygon(50% 0px, 100% 0px, 100% 100%, 8% 100%, 50% 0px);
}

.slidev-layout {
	position: relative;

	* {
		font-family: var(--emp-sans);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.2;
		font-weight: 500;
	}

	h1 {
		font-size: 2rem;
	}

	h2,
	h3 {
		font-size: 1.25rem;
	}

	em {
		text-decoration: underline;
		text-decoration-thickness: 0.125rem;
		text-decoration-color: var(--emp-mint);
		text-underline-offset: 0.5em;
		font-style: normal;
	}

	pre,
	code,
	:not(pre) code {
		background-color: transparent;
		border: 1px solid var(--emp-light);
	}

	ul {
		list-style: circle;
	}

	a,
	strong {
		color: var(--emp-mint);
	}
}

.slidev-layout.cover {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 0;
	text-align: start;

	h1 {
		color: inherit;
		margin-block: 0;
	}

	h1 + p {
		max-width: 35ch;
		margin-block: 0.5em;
		font-family: var(--emp-mono);
		color: var(--emp-fog);
		font-size: 0.8rem;
		line-height: 1.5;
		text-wrap: balance;
	}

	img {
		display: block;
		max-width: 10rem;
		margin-block: auto 1rem;
	}

	footer {
		margin-block-start: auto;
		font-size: 0.8rem;
	}
}

.slidev-layout.fact {
	@apply text-center grid h-full;
	h1 {
		@apply text-8xl font-700;
	}
	h1 + p {
		@apply font-700 text-2xl;
	}
}

.slidev-layout.statement {
	@apply text-center grid h-full;

	h1 {
		@apply text-6xl font-700;
	}
}

.slidev-layout.quote {
	@apply grid h-full;

	h1 + p {
		@apply mt-2;
	}
}

.slidev-layout.image-block {
	display: grid;
	grid-template-columns: 4rem 1fr 4rem 50%;
	padding: 0;
	background-color: var(--emp-dark);
	color: var(--emp-light);

	figure {
		position: relative;
		grid-column: 4;
		grid-row: 1 / 100;
		height: 100%;
		clip-path: polygon(35% 0, 100% 0, 100% 100%, 34% 100%, 0 51%);

		img {
			margin: 0;
			height: 100%;
			object-fit: cover;
		}

		figcaption {
			position: absolute;
			right: 0;
			bottom: 0;
			font-size: 0.5rem;
			background-color: var(--emp-dark);
			padding: 0.25rem 0.5rem;
			opacity: 0.75;
		}
	}

	> * {
		grid-column: 2;
	}

	h1 {
		margin-block: 4rem 0;
	}

	h1::after {
		content: "";
		display: block;
		width: 4rem;
		height: 0.25rem;
		background-color: var(--emp-mint);
		margin-block: 1em 2rem;
	}

	p {
		max-width: 40ch;
		text-wrap: balance;
	}
}

.slidev-layout.text-block {
	display: grid;
	grid-template-columns: 4rem 1fr 4rem 50%;
	padding: 0;
	padding-block-end: 5rem;
	background-color: var(--emp-dark);
	color: var(--emp-light);

	> * {
		grid-column: 2;
	}

	h1 {
		margin-block: 4rem 0;
	}

	h1::after {
		content: "";
		display: block;
		width: 4rem;
		height: 0.25rem;
		background-color: var(--emp-mint);
		margin-block: 1em 2rem;
	}

	p {
		max-width: 40ch;
		text-wrap: balance;
	}

	.arrow-block {
		grid-column: 4;
		grid-row: 1 / 100;
		height: calc(5rem + 100%);
		width: 100%;
		margin-block-end: -5rem;
		padding: 0;
		background-color: var(--emp-mint);
		clip-path: polygon(
			35% 0,
			85% 0,
			50% 51%,
			85% 100%,
			65% 100%,
			30% 51%,
			65% 0,
			55% 0,
			20% 51%,
			55% 100%,
			34% 100%,
			0 51%
		);
	}
}

.slidev-layout.resource-block {
	display: grid;
	grid-template-columns: 4rem 1fr 4rem;
	grid-template-rows: min-content auto;
	align-content: start;
	padding: 0;
	background-color: var(--emp-dark);
	color: var(--emp-light);

	> * {
		grid-column: 2;
	}

	h1 {
		margin-block-start: 4rem;
	}

	h1::after {
		content: "";
		display: block;
		width: 4rem;
		height: 0.25rem;
		background-color: var(--emp-mint);
		margin-block: 1em 2rem;
	}

	p {
		max-width: 30ch;
		text-wrap: balance;
	}
}

.slidev-layout.code-block {
	display: grid;
	grid-template-columns: 4rem 1fr 4rem 50%;
	padding: 0;
	background-color: var(--emp-dark);
	color: var(--emp-light);

	iframe {
		grid-column: 4;
		grid-row: 1 / 100;
		height: 100%;
		object-fit: cover;
	}

	> * {
		grid-column: 2;
	}

	> :first-child {
		margin-block-start: 4rem;
	}

	h1::after {
		content: "";
		display: block;
		width: 4rem;
		height: 0.25rem;
		background-color: var(--emp-mint);
		margin-block: 1em 2rem;
	}

	p {
		max-width: 35ch;
	}
}

.slidev-layout .gradient-block {
	position: absolute;
	align-self: end;
	justify-self: start;
	left: 0;
	width: 90%;
	height: 2.5rem;
	grid-column: 1 / -1;
	background: linear-gradient(45deg, var(--emp-navy), var(--emp-mint));
	clip-path: polygon(0px 0px, 96% 0px, 100% 100%, 0px 100%, 0 0);
}
